.button{
  -fx-background-color: #fff;
    -fx-border-width:2px;
}
.button: hover{
-fx-background-color: rgb(204, 204, 204);
}
.text-field{
-fx-background-color: transparent;
    -fx-border-color:  #fff;
    -fx-border-width: 1.5px;
}
.text-field: focused{
    -fx-background-color: #fff;
    }
.combo-box .arrow, .combo-box .arrow-button{
    -fx-border-color:  #fff;
    -fx-border-width: 1.5px;
    -fx-background-color: transparent;
}